@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    @variants responsive {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* En tu archivo de estilos CSS */
.completed-animation {
  background-color: #4CAF50; /* Color verde */
  animation: fadeInBackground 0.1s ease-in-out; /* Animación de transición */
}

@keyframes fadeInBackground {
  0% {
    background-color: transparent; /* Inicio transparente */
  }
  100% {
    background-color: #4CAF50; /* Final con el color verde */
    border-color: #4CAF50;
  }
}

.decompleted-animation {
  background-color: #ffffff;
  animation: fadeOutBackground 0.1s ease-in-out;
}

@keyframes fadeOutBackground {
  0% {
    background-color: #4CAF50;
  }
  100% {
    background-color: #ffffff;
  }
}